body {
    margin: 0px;
    overflow: hidden;
  }
  
  circle {
    opacity: 0.6;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 1em;
    fill: #635F5D;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 10em;
    fill: #8E8883;
  }
  
  .title {
    font-size: 3.7em;
    fill: #635F5D;
  }